@model RealWealth.Models.Home
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="~/RealWealthWebsite/assets/img/favicon.png">
    @*<link rel="icon" type="image/x-icon" href="~/assets/img/favicon.ico" />*@
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/pages/error/style-maintanence.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/notification/snackbar/snackbar.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <style>
        .card {
            background-image: linear-gradient(#adbaed, #e1e3ed);
            padding: 40px 20px;
            width: 500px;
        }

        .card-title {
            font-weight: 600;
        }

        .maintanence-hero-img img {
            width: 165px;
            height: 100px;
        }

        .btn:focus {
            color: #fff !important;
            background-color: #4361ee;
        }

        .maintanence a.btn {
            width: 200px;
            letter-spacing: 1px;
        }

        .foractivation-btn {
            text-align: -webkit-center;
            border-radius: 1rem;
        }

        .img-design {
            border: 2px solid white;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 8px;
        }
    </style>
</head>
<body class="maintanence text-center">

    <div class="container-fluid maintanence-content">

        <div class="card">
            <div class="maintanence-hero-img">
                <img alt="logo" src="~/assets/img/tradelogo.png">
            </div>
            @Html.HiddenFor(m => m.WalletBalance)
            @Html.HiddenFor(m => m.Fk_UserId)
            <div class="card-body my-2">
                <h5 class="card-title my-2">Please Select To Activate Your Profile.</h5>

                <div class="field-wrapper pl-4">
                    <a href="#" class="btn btn-info foractivation-btn py-2">
                        <div class="img-design"><img src="~/assets/img/payment.png" style="width:50px" /></div> <br />
                        <input type="submit" style="color:#805dca;" onclick="return CheckWalletBalance();" name="btnActivate" value="Activate By Wallet" />
                    </a>
                </div>


                @*<div class="d-flex justify-content-around mt-5">
                        <div class="field-wrapper">
                            <a href="#" class="mr-2 btn btn-primary chaining-modals foractivation-btn py-2">
                                <div class="img-design"><img src="~/assets/img/pin.png" style="width:50px" /></div> <br />
                                <input type="submit" class="btn btn-sm btn-success pull-right" onclick="return CheckWalletBalance();" name="btnActivate" value="Activate By Wallet" />
                                <span style="white-space: nowrap">Activate By Wllet</span>
                            </a>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->

    <script src="~/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="~/bootstrap/js/popper.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/plugins/notification/snackbar/snackbar.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!--  BEGIN CUSTOM SCRIPTS FILE  -->
    <script src="~/assets/js/components/notification/custom-snackbar.js"></script>
    <script>
        //function FillAmount() {
        //    debugger;
        //    $.ajax({
        //        url: "/Home/FillAmount",
        //        Type: "Get",
        //        DataType: "JSON",
        //        data: { Productid: $('#Package').val() },
        //        success: function (data) {
        //            debugger;
        //            $('#Amount').val(data.Amount);
        //        }
        //    });
        //}

        function CheckWalletBalance() {
            debugger
            var WalletBalance = $("#WalletBalance").val();
            var Amount = "1000";
            if (Number(WalletBalance) < Number(Amount)) {
                window.location.href = "/Wallet/AddWallet";
            }
            else {
                $.ajax({
                    url: "/Home/ActivateUser",
                    Type: "Get",
                    DataType: "JSON",
                    data: { Amount: Amount },
                    success: function (data) {
                        if (data.Result = "1") {

                        }
                    }
                });
            }

        }















    </script>

    @if (TempData["msg"] != null)
    {
        <script>
            $(document).ready(function () {
                Snackbar.show({
                    text: '@TempData["msg"]',
                    actionTextColor: '#fff',
                    backgroundColor: '#1abc9c',
                    pos: 'top-right'
                });
            });
        </script>
    }
    @if (TempData["error"] != null)
    {
        <script>
            $(document).ready(function () {
                Snackbar.show({
                    text: '@TempData["error"]',
                    actionTextColor: '#fff',
                    backgroundColor: '#e7515a',
                    pos: 'top-right'
                });
            });
        </script>
    }
    <!-- END GLOBAL MANDATORY SCRIPTS -->
</body>

</html>