@model MyTrade.Models.Home

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from designreset.com/cork/ltr/demo4/auth_register_boxed.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 18 Sep 2021 04:25:50 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Registeration | My Trade</title>
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.ico" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/authentication/form-2.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/forms/switches.css">
    <style>
        .form-form-wrap {
            max-width: 745px;
            margin: 29px auto;
            min-width: 745px;
            min-height: 100%;
            align-self: center;
            width: 100%;
            height: 100vh;
            justify-content: center;
        }

        .field-wrapper {
            width: 100%;
        }

        .errortext {
            border: 2px solid red !important;
            background-color: #ffd3c6 !important;
        }

        body.form {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e6e6e6'/%3E%3Cstop offset='1' stop-color='%23eaf1ff'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%234361ee' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%234361ee' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
            background-attachment: fixed;
            background-size: cover;
            background-color: #ffffff;
        }
           .maintanence-hero-img img {
            width: 100px;
            height: 100px;
        }

    </style>
</head>
<body class="form">
    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                  
                    <div class="form-content">
                        <div class="maintanence-hero-img">
                            <img alt="logo" src="~/assets/img/tradelogo.png">
                        </div>
                        <h1 class="">Create An Account</h1>
                        <p class="signup-link register">Already have an account? <a href="/Home/Login">Log in</a></p>
                        <form class="text-left needs-validation" novalidate action="javascript:void(0);">
                            <div class="form">
                                <div class="form-row">
                                    @if (ViewBag.SponsorId != null && ViewBag.SponsorId != "")
                                    {
                                        <h5 style="color: black; font-size: 14px;">Congratulations! For joining us under sponsor code: @ViewBag.SponsorId</h5>

                                        <input type="hidden" value="@ViewBag.SponsorId" id="SponsorId" name="SponsorId" />
                                    }
                                    else
                                    {
                                        <div class="col-md-6 mb-2">
                                            <label for="SponsorId">SponsorId </label> <span class="text-danger">*</span>
                                            @Html.TextBoxFor(m => m.SponsorId, new { @class = "form-control", @Placeholder = "Refer By", @onchange = "getsponsordetails(this);", @required = true })
                                            @Html.ValidationMessageFor(m => m.LoginId)

                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <label for="SponsorName">Sponsor name</label>
                                            @Html.TextBoxFor(m => m.SponsorName, new { @class = "form-control", @Disabled = "true" })
                                            <div class="invalid-tooltip">
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="form-row">
                                    @*@if (ViewBag.Leg != null && ViewBag.Leg != "")
                                        {
                                            <input type="hidden" value="@ViewBag.Leg" id="Leg" name="Leg" />
                                        }
                                        else
                                        {
                                            <div class="col-md-6 mb-2">
                                                <label for="validationTooltipUsername">Leg</label> <span class="text-danger">*</span>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="form-check form-check-inline">
                                                            &nbsp;<input type="radio" value="Left" @ViewBag.LeftChecked id="left" name="Leg" />
                                                            <label for="inlineRadio1" class="pt-2 pl-2">Left</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input type="radio" value="Right" id="right" name="Leg" @ViewBag.RightChecked />
                                                            <label for="inlineRadio2" class="pt-2 pl-2">Right</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }*@
                                    <div class="col-md-6 mb-2">
                                        <label for="FirstName">First Name</label> <span class="text-danger">*</span>
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name", @required = true })

                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label for="LastName">Last Name</label>
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" })

                                    </div>
                                </div>
                                <div class="form-row">

                                    <div class="col-md-6 mb-2">
                                        <label for="MobileNo">Mobile No</label> <span class="text-danger">*</span>
                                        @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", @placeholder = "MobileNo", @maxlength = "10", @onkeypress = "return isNumberKey(event);" })
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label for="Email">Email <span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                    </div>

                                </div>
                                <div class="form-row">

                                    <div class="col-md-6 mb-2">
                                        <label for="MobileNo">Password</label> <span class="text-danger">*</span>
                                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password",  @type = "Password" })
                                       
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label for="Email">Confirm Password</label>
                                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @onblur = "return validateConfPassword();", @type = "Password" })
                                    </div>
                                    @*<label style="color:red;font-size:12px;padding-left:10px">Note: Password should be alpha-numeric.</label>*@
                                    
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-2">
                                        <label for="City">Gender</label>
                                        @Html.DropDownListFor(m => m.Gender, new SelectList(ViewBag.Gender, "Value", "Text"),"-Select-", new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-6">
                                        <label for="PinCode">PinCode</label>
                                        @Html.TextBoxFor(m => m.PinCode, new { @class = "form-control", @placeholder = "PinCode", @onchange = "return getstatecity()" })
                                    </div>
                                </div>
                                <div class="form-row">
                                  
                                    <div class="col-md-6 mb-5">
                                        <label for="City">City</label>
                                        @Html.TextBoxFor(m => m.City, new { @class = "form-control", @placeholder = "City", @Disabled = "true" })
                                    </div>
                                    <div class="col-md-6 mb-5">
                                        <label for="State">State</label>
                                        @Html.TextBoxFor(m => m.State, new { @class = "form-control", @placeholder = "State", @Disabled = "true" })
                                    </div>
                                </div>
                                <div class="d-sm-flex justify-content-between">

                                    <input type="button" id="Confirm" onclick="return confirmregistration();" class="btn btn-outline-success mb-2" name="Confirm" value="Confirm" />
                                    <input type="button" id="Register" onclick="return saveregistration();" class="btn btn-outline-info mb-2" style="display:none" name="Register" value="Register" />
                                    <input type="button" id="Edit" onclick="editregistration();" style="display: none" class="btn btn-secondary mb-2" name="Edit" value="Edit" />

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="~/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="~/bootstrap/js/popper.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>

    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src="~/assets/js/authentication/form-2.js"></script>
    <script src="~/assets/js/forms/bootstrap_validation/bs_validation_script.js"></script>
    <script>
        function getsponsordetails(obj) {
            $("#divload").css({ 'display': '' });
            $(".errortext").removeClass("errortext");
            $.ajax({
                url: '/Home/GetSponserDetails',
                type: 'GET',
                dataType: 'JSON',
                data: { 'ReferBy': $(obj).val() },
                success: function (response) {
                    if (response.Result == "Yes") {
                        $('#SponsorName').val(response.DisplayName);
                    }
                    else {

                        $("#SponsorId").addClass('errortext');
                        $('#SponsorName').val('');
                        $('#SponsorId').val('');
                        $('#SponsorId').focus();
                        alert(response.Result);
                    }
                }
            })
        }
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
              && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
        function confirmregistration() {
            $(".errortext").removeClass("errortext");
            if ($('#SponsorId').val() == '') {
                $("#SponsorId").addClass('errortext');
                $('#SponsorId').focus();
                return false;
            }
            if ($('#FirstName').val() == '') {
                $("#FirstName").addClass('errortext');
                $('#FirstName').focus();
                return false;
            }
            if ($('#MobileNo').val() == '') {
                $("#MobileNo").addClass('errortext');
                $('#MobileNo').focus();
                return false;
            }
            if ($('#Email').val() == '') {
                $("#Email").addClass('errortext');
                $('#Email').focus();
                return false;
            }
            if ($('#Password').val() == '') {
                $("#Password").addClass('errortext');
                $('#Password').focus();
                return false;
            }
            $("#MobileNo").attr("disabled", "disabled");
            $("#FirstName").attr("disabled", "disabled");
            $("#SponsorId").attr("disabled", "disabled");
            $("#LastName").attr("disabled", "disabled");
            $("#PinCode").attr("disabled", "disabled");
            $("#Password").attr("disabled", "disabled");
            $("#ConfirmPassword").attr("disabled", "disabled");
            $("#Gender").attr("disabled", "disabled");
            $("#Email").attr("disabled", "disabled");
            $('#Confirm').attr("disabled", "disabled");
            $('#Confirm').hide();
            $('#Edit').show();
            $('#Register').show();
        }
        function editregistration() {
            $("#MobileNo").attr("disabled", false);
            $("#FirstName").attr("disabled", false);
            $("#LastName").attr("disabled", false);
            $("#SponsorId").attr("disabled", false);
            $("#LastName").attr("disabled", false);
            $("#PinCode").attr("disabled", false);
            $("#Password").attr("disabled", false);
            $("#ConfirmPassword").attr("disabled", false);
            $("#Gender").attr("disabled", false);
            $("#Email").attr("disabled", false);
            $('#Confirm').show();
            $('#Confirm').attr("disabled", "disabled");
            $('#Edit').hide();
            $('#Register').hide();

        }

        function saveregistration() {
            $('#Register').attr("disabled", "disabled");
            $("#divload").css({ 'display': '' });
            var Leg = "";
            if ($('#left').prop('checked')) {
                Leg = "L";
            }
            else {
                Leg = "R";
            }
            $.ajax({
                url: "/Home/RegistrationAction",
                Type: "Get",
                DataType: "JSON",
                data: { SponsorId: $("#SponsorId").val(), FirstName: $("#FirstName").val(), LastName: $("#LastName").val(), MobileNo: $("#MobileNo").val(), PinCode: $("#PinCode").val(), Leg: Leg, Password: $("#Password").val(), Email: $("#Email").val(), Gender: $("#Gender").val(), State: $("#State").val(), City: $("#City").val() },
                success: function (data) {
                    if (data.Result == "1") {
                        window.location.href = '@Url.Action("ConfirmRegistration", "Home")';
                    }
                    else {
                        $("#divload").css({ 'display': 'none' });
                        alert(data.Result);
                    }
                }

            });
        }
        function getstatecity() {
            $(".errortext").removeClass("errortext");
            $.ajax({
                url: "/Home/GetStateCity",
                Type: "Get",
                DataType: "JSON",
                data: { PinCode: $("#PinCode").val() },
                success: function (data) {
                    if (data.Result == "1") {
                        $("#State").val(data.State);
                        $("#City").val(data.City);
                    }
                    else {
                        $("#State").val('');
                        $("#City").val('');
                        $("#PinCode").val('');
                        $("#PinCode").addClass('errortext');
                        $('#PinCode').focus();
                        alert(data.Result);

                    }
                }
            });
        }
        function isNumberKey(evt) {

            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
        function validateConfPassword() {
            var password = $('#Password').val();
            var ConfirmPassword = $('#ConfirmPassword').val();
            if (password != ConfirmPassword) {
                $("#Password").addClass('errortext');
                $("#ConfirmPassword").addClass('errortext');
                $('#Password').val('');
                $('#ConfirmPassword').val('');
                alert("Password and Confirm Password are different")
                return false;
            }
        }
    </script>

</body>

<!-- Mirrored from designreset.com/cork/ltr/demo4/auth_register_boxed.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 18 Sep 2021 04:25:50 GMT -->
</html>